.btn-primary {
    border: none;
    background-color: #c9b037;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #af9500;
}

.btn-secondary {
    border: none;
    color: black;
    background-color: #d7d7d7;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #b4b4b4;
}

input[type="date"] {
    height: 2.4rem;
    border-radius: 5px;
    border: 0.5px solid #d7d7d7;
}

.main {
    color: #e9a718;
}

.main-background {
    background-color: #e9a718bd;
}

.secondary {
    color: #d7d7d7;
}

.secondary-background {
    background-color: #d7d7d7b7;
}