.body-container{
    positition: relative;
}

.logo {
    position: absolute;
    z-index: -1;
    top: -5rem;
    right: 19rem;
}

.image1,
.image2 {
    transform: rotate(180deg);
    position: absolute;
    z-index: -1;
    top: -9rem;
}

.image1 {
    right: 0;
}

.image2 {
    left: 5rem;
}

.image3 {
    transform: rotate(90deg);
    position: absolute;
    z-index: -1;
    top: -3rem;
    right: 28rem;
}

.image4 {
    transform: rotate(92deg);
    position: absolute;
    z-index: -1;
    top: 34rem;
    right: 62rem;
}

.image5 {
    transform: rotate(13deg);
    position: absolute;
    z-index: -1;
    top: 91rem;
    right: 152rem;
}

.image6 {
    transform: rotate(343deg);
    position: absolute;
    z-index: -1;
    top: 94rem;
    right: 12rem;
}

.image7 {
    transform: rotate(180deg);
    position: absolute;
    z-index: -1;
    top: 20rem;
    left: -13rem;
}
