
.body-container,
.table-container {
    positition: relative;
}

.logo {
    position: absolute;
    z-index: -1;
    top: -5rem;
    right: 19rem;
}

.leaf {
    position: absolute;
    bottom: -5rem;
}

.leaf2 {
    left: 2rem;
}

.leaf3 {
    left: 14rem;
}

.leaf4 {
    left: 6rem;
}

.leaf5 {
    left: 9rem;
}

.leaf6 {
    left: 36rem;
}

.leaf7 {
    left: 13rem;
}

.leaf8 {
    left: 28rem;
}

.leaf9 {
    left: 21rem;
}

.leaf10 {
    transform: rotate(180deg);
    left: 24rem;
}

.leaf11 {
    left: 107rem;
}

.leaf12 {
    left: 83rem;
}

.leaf13 {
    left: 86rem;
}

.leaf14 {
    left: 97rem;
}

.leaf15 {
    left: 106rem;
}

.leaf16 {
    left: 65rem;
}

.leaf17 {
    left: 32rem;
}

.leaf18 {
    left: 101rem;
}

.leaf19 {
    left: 71rem;
}

.leaf20 {
    left: 41rem;
}

.leaf21 {
    left: 41rem;
}

.leaf22 {
    left: 95rem;
}

.leaf23 {
    left: 48rem;
}

.leaf24 {
    left: 78rem;
}

.leaf25 {
    left: 53rem;
}

.leaf26 {
    left: 88rem;
}

.leaf27 {
    left: 74rem;
}

.leaf28 {
    left: 59rem;
}

.leaf29 {
    left: 56rem;
}

.leaf30 {
    left: 63rem;
}

.image1,
.image2 {
    transform:rotate(180deg);
    position: absolute;
    z-index: -1;
    top: -9rem;
}

.image1 {
    right: 0;
}

.image2 {
    left: 5rem;
}

.image3 {
    transform:rotate(90deg);
    position: absolute;
    z-index: -1;
    top: -3rem;
    right: 28rem;
}

.image4 {
    transform: rotate(92deg);
    position: absolute;
    z-index: -1;
    top: 34rem;
    right: 62rem;
}

.image5 {
    transform: rotate(13deg);
    position: absolute;
    z-index: -1;
    top: 134rem;
    right: 62rem;
}

.image6 {
    transform: rotate(343deg);
    position: absolute;
    z-index: -1;
    top: 94rem;
    right: 12rem;
}

.image7 {
    transform: rotate(180deg);
    position: absolute;
    z-index: -1;
    top: 20rem;
    left: -13rem;
}